@model IEnumerable<QuestaoProvaViewModel>
@{
    ViewData["Title"] = "Questões da Avaliação";
}
<h2>Concluir Prova</h2>

<h4>@Html.DisplayFor(model => model.Materia) / @Html.DisplayFor(model => model.Disciplina) / @Html.DisplayFor(model => model.Descricao)</h4>

<table>
    <tbody>
@{
    foreach (var item in Model)
    {

        <tr>
            <td style="@(item.Erro == "" ? "color:green" : "color:red")">
                <i class="@(item.Erro == "" ? "fas fa-check" : "fas fa-times")" title="@item.Erro"></i>
            </td>
            <td>
                Questão @(item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enunciado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoAvaliacao)
            </td>
        </tr>

    }
}
    </tbody>
</table>

